In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('results.csv',
                sep=';',
                usecols=['race',
                         'cat',
                         'type',
                         'dist_km',
                         'gain_m',
                         'rank',
                         'total_entries',
                         'score',
                         'date'
                        ],
                parse_dates={'date_parsed':['date']},
                dayfirst=True,
                keep_date_col=False 
                )

In [5]:
# New columns
df['year'] = df['date_parsed'].dt.year
df['month'] = df['date_parsed'].dt.month
df['day'] = df['date_parsed'].dt.day
# Set index
df.set_index('date_parsed', inplace=True)

In [6]:
df.head()

,race,cat,type,dist_km,gain_m,rank,total_entries,score,year,month,day
date_parsed,,,,,,,,,,,
2011-04-10,Tesserete,Fun Masters,XC,20.0,500,25,39,37.50,2011,4,10
2011-05-08,Solothurn,Fun Masters,XC,21.4,524,42,57,27.59,2011,5,8
2011-07-16,Transalp 1.,Men,XCM,95.8,2348,193,228,15.72,2011,7,16
2011-07-17,Transalp 2.,Men,XCM,68.8,2911,163,222,26.91,2011,7,17
2011-07-18,Transalp 3.,Men,XCM,94.0,2154,158,218,27.85,2011,7,18

In [7]:
# Options to select the year
available_years = df['year'].unique()
available_years.sort()

options=[{'label': i, 'value': i} for i in available_years]
options

[{'label': 2011, 'value': 2011},
 {'label': 2012, 'value': 2012},
 {'label': 2013, 'value': 2013},
 {'label': 2014, 'value': 2014},
 {'label': 2015, 'value': 2015},
 {'label': 2016, 'value': 2016},
 {'label': 2017, 'value': 2017},
 {'label': 2018, 'value': 2018}]

In [8]:
# Options to select the type
available_types = df['type'].unique()

options_type=[{'label': i, 'value': i} for i in available_types]
options_type

[{'label': 'XC', 'value': 'XC'},
 {'label': 'XCM', 'value': 'XCM'},
 {'label': 'RR', 'value': 'RR'},
 {'label': 'CX', 'value': 'CX'}]

In [26]:
value = [2017, 2016]
value

[2017, 2016]

In [27]:
df_score = df[df['year'].isin(value)]

In [28]:
df_score.head()

,race,cat,type,dist_km,gain_m,rank,total_entries,score,year,month,day
date_parsed,,,,,,,,,,,
2016-06-12,Elsa Trophy,Fun 2,XCM,57.7,1611,40,107,62.96,2016,6,12
2016-06-19,Biennathlon,Open,XC,29.1,870,10,74,86.67,2016,6,19
2016-07-24,San Gottardo,M U40,RR,110.0,3000,63,127,50.78,2016,7,24
2016-09-18,Odenwald,Langdistanz,XCM,58.8,1700,20,54,63.64,2016,9,18
2016-10-29,Quer Pfaffnau,Jederman,CX,7.9,246,27,43,38.64,2016,10,29

In [29]:
values = ['XC', 'XCM']

In [30]:
df_type = df_score[df_score['type'] == values[1] ]

In [31]:
df_type

,race,cat,type,dist_km,gain_m,rank,total_entries,score,year,month,day
date_parsed,,,,,,,,,,,
2016-06-12,Elsa Trophy,Fun 2,XCM,57.7,1611,40,107,62.96,2016,6,12
2016-09-18,Odenwald,Langdistanz,XCM,58.8,1700,20,54,63.64,2016,9,18
2017-04-08,Eggberg,Men 1,XCM,48.0,1450,76,106,28.97,2017,4,8
2017-08-19,Basel Land,Open,XCM,85.0,2200,29,65,56.06,2017,8,19

In [34]:
df.shape[0]

41